body{
    margin: 0;
    padding: 0;
    position: relative;
    font-family: 'Poppins';
    background-color: black;
    
}
@tailwind base;
@tailwind components;
@font-face {
    font-family: 'Poppins';
    src: local('Poppins'), url(../fonts/Poppins/Poppins-Black.ttf) format('ttf');
  }
@tailwind utilities;

